@font-face {
font-family: "AvenirNext Cd";
src: url("./fonts/AvenirNextLTPro-Cn.otf") format("opentype")
}

@font-face {
font-family: "AvenirNext Cd";
src: url("./fonts/AvenirNextLTPro-Cn.otf") format("opentype")
}
