@font-face {
font-family: "AvenirNext Lt";
src: url("./fonts/AvenirNextLTPro-Cn.otf") format("opentype")
}

@font-face {
font-family: "AvenirNext Md";
src: url("./fonts/AvenirNextLTPro-MediumCn.otf") format("opentype")
}

@font-face {
font-family: "Avenir Md";
src: url("./fonts/AvenirMedium.otf") format("opentype")
}

Button {
  font-family:'AvenirNext Md' !important;
  padding: 11px !important;
}

html {
  font-weight:normal;
  font-style:normal;
  font-family:'AvenirNext Md' !important;
}

body {
  font-family:'AvenirNext Md' !important; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #4BB3E7 linear-gradient(to right, #1fa0e0, #4BB3E7, #1fa0e0) !important;
  /* background: #4BB3E7 linear-gradient(to right, #8fcff0, #4BB3E7, #8fcff0) !important; */
}

main {

  /* background-color: #0B4659; */

}

.right {
  text-align: right;
}

p,
.left {
  text-align: left;
}
/* .toolbar-wrapper, */
.container {
  width: 100%;
  max-width: 800px;
  margin: auto
}

.toolbar, .infobar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem
}

.toolbar {
  background-color: #F05F27;
  color: white;
  height: 3rem;
}

.infobar {
  background-color: lightgrey;
  height: 4rem;
}

.title {
  height: 6rem;
}

.App-header {
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}

.naked,
.input,
input {
  background: initial !important;
  border: none !important;
  border-radius: 0 !important;
}

.input,
input {
  border-bottom: 1px solid grey !important;
}

.favorites {
  display: flex;
  min-height: 150px;
  background-color: lightgrey;
  align-items: center;
  padding: 10%;
}
