@font-face {
font-family: "AvenirNext Lt";
src: url("./fonts/AvenirNextLTPro-Cn.otf") format("opentype")
}

@font-face {
font-family: "AvenirNext Md";
src: url("./fonts/AvenirNextLTPro-MediumCn.otf") format("opentype")
}

@font-face {
font-family: "Avenir Md";
src: url("./fonts/AvenirMedium.otf") format("opentype")
}

Button {
  font-family:'AvenirNext Md' !important;
  /* color: #4BB3E7 !important; */
  /* padding: 11px !important; */
  box-shadow: 0px 1px 1px #bababa !important;
  /* border-bottom: solid 0.5px #bababa !important;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important; */
}

/* .ui.active.button {
  background-color: #4BB3E7 !important;
} */

/* .selected {
  background: lightgrey !important;
} */
.header,
.basic,
html {
  font-family:'AvenirNext Md' !important;
}

body {
  font-family:'AvenirNext Md' !important; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eaeaea !important;
  /* background:  #F05F27 ; */
  /* #4BB3E7 linear-gradient(to right, #1fa0e0, #4BB3E7, #1fa0e0) !important; */
  /* background: #4BB3E7 linear-gradient(to right, #8fcff0, #4BB3E7, #8fcff0) !important; */
}

main {

  /* background-color: #0B4659; */

}

a {
  color: initial !important;
}

.right {
  text-align: right;
}

p,
.left {
  text-align: left;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
/* .toolbar-wrapper, */
.wrapper{
  max-width: 700px !important;
  /* width: 100%; */
  margin: auto
}

.toolbar, .infobar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem
}

.toolbar {
  background-color: #F05F27;
  color: white;
  height: 3rem;
}

.infobar {
  background-color: lightgrey;
  height: 4rem;
}

.title {
  height: 6rem;
}

.App-header {
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}

.naked,
.input,
input {
  background: initial !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important
}

.ui.basic.button.compact {
  background: white !important;
}

.card_subtitle,
.ui.basic.button.naked {
  color: #F05F27 !important;
  background: none !important;
}



.input,
input {
  border-bottom: 0.5px solid grey !important;
}

/* .favorites {
  display: flex;
  min-height: 150px;
  background-color: lightgrey;
  align-items: center;
  /* padding: 10%; */
/* }  */

.column {
  margin-bottom: 0 !important;
}

/* CARD */
.content {
  /* padding-left: 0 !important; */
}

.card {
  border-radius: 0 !important;
  margin: 0 !important;
}

.black {
  color: #444 !important;
}

.card_icon {
  position: absolute;
  right: 10px;
  bottom: 13px;
}
