body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  text-align: center;
  background-color: #0B4659;
}
.App-header {
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
